<section id="main" class="container">
  <header>
    <h2>Sign Up</h2>
    <p>Register and try our service</p>

    <form name="authForm" ng-submit="vm.register(vm.user)" class="form-signin" novalidate>

      <div class="row uniform 50%">
        <div class="12u 12u(mobilep)">
          <!--Email input-->
          <input ng-model="vm.user.email" type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        </div>
        <div class="12u 12u(mobilep)">
          <!--Password input-->
          <input ng-model="vm.user.password" type="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <div class="12u 12u(mobilep)">
          <!--Password input-->
          <input type="submit" value="Search" class="fit">
        </div>
      </div>

    </form>
  </header>
</section>